# Dependency folders
node_modules/

# Environment variables (Crucial - never push these!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-test.log*

# OS-specific files
.DS_Store
Thumbs.db
node_modules/
.env
